@{
  Layout = "_Layout";
}

<div class="container">
  <h1>List of books: </h1>

  @if(Model.Count == 0)
  {
    <p>No books has been added yet</p>
  }
  else
  {
  <ul>
  @foreach(var book in Model)
  {
    <li><a href='/books/@book.GetId()'>@book.GetTitle()</a></li>
  }
  </ul>
  }

  <h1>Search books</h1>
  <form action = "/books/found" method = "post">
    <label for = "searchTitle">Enter book searchTitle:</label>
    <input id="searchTitle" name="searchTitle" type="text">
    <br>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

<a href = "/" class="btn btn-danger">Home</a>
<a href = "/books/new" class="btn btn-warning">Add a new book</a>

</div>
