@{
  Layout = "_Layout";
}
<div class = "container">
  <h1>Add a New Author</h1>
  <form action = "/authors" method = "post">
    <label for = "name">Enter author's name:</label>
    <input id="name" name="name" type="test">
    <br>
    <button type="submit" class="btn btn-primary">Add the author</button>
  </form>
  <br>
  <a href = "/" class="btn btn-danger">Home</a>
  <a href = "/authors" class="btn btn-warning">Back to author's list</a>
</div>
