@{
  Layout = "_Layout";
}

@using Library.Models;
<div class = "container">
<h1>Selected Author: @Model["selectedAuthor"].GetName()</h1>
<hr />

@if (@Model["listBooks"].Count != 0)
{
  <h4>This author wrote these books:</h4>
  <ul>
    @foreach (Book book in @Model["listBooks"])
    {
      <li>@book.GetTitle()</li>
    }
  </ul>
}

  <a href="/books/new" class = 'btn btn-danger'>Add book</a>
  <br>
  <br>
  <p><a href = "/" class="btn btn-danger">Home</a></p>
</div>
